doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/semantic.css")
    link(rel="stylesheet" href="/css/main.css")
    script(src="/js/jquery.js")
    script(src="/js/semantic.js")
    script(src="/js/axios.js")
    title Document
  body
    .ui.top.attached.demo
      .ui.secondary.menu
        - if(admin)
          a.item(href="/xlsx/all")
            | Юклаб олиш
        - if(admin)
          a.item(href="/tuman")
            | Туманлар кесимида юклаб олиш
        a.item.active
          | Регистратор
        //- a.item(href="/edit")
        //-   | Тахрирлаш
        .right.menu
          a.ui.item(href="/exit")
            | Чиқиш
    .asosiy
      .ui
        .ui.small.form.form-p
          .six.fields
            .field
              label Регистраторлик участкаси рақами
              input#regnumber(type="number" name="regnumber" placeholder="Регистраторлик участкаси рақами")
            .field
              label Ҳудуд 
              select#province.ui.fluid.dropdown(name="province" data-soato=`${soato_viloyat}` disabled)
            .field
              label Шаҳар ва туман
              select#district.ui.fluid.dropdown(name="district" data-soato=`${soato_tuman}` disabled)
            .field
              label Аҳоли пункти
              select#punkt.ui.fluid.dropdown(name="punkt")
                option(value="")
            .field
              label Маҳалла
              select#mfy.ui.fluid.dropdown(name="mfy")
                option(value="")
            .field
              label Кўча
              input#street(type="text" name="street" placeholder="Кўча")
    .col
      table.ui.celled.table
        thead
          tr
            th Т/Р
            th Кўча номи
            th Кўп қаватли уй ёки ҳовли рақами
            th Хонадон ёки нoтурар жой сони (бирлик)
            th Жами яшoвчилар сони (киши)
            th Йирик шоxли қорамоллар сони (бош)
            th Шундан: сигирлар сони (бош)
            th Қўй ва эчкилар сони (бош)
            th Отлар сони (бош)
            th Жами паррандалар сони (бош)
            th Изоҳ
          tr
            th А
            th 1
            th 2
            th 3
            th 4
            th 5
            th 6
            th 7
            th 8
            th 9
            th 10
        tbody#tablereportbody
          tr(data-row="0")
            td 
              .ui.form
                .field
                  input(type="number" data-name="colA-0" value="1" disabled data-index="g1")
              span.span-error
            td 
              .ui.form
                .field
                  input.repeatstreet(type="text" disabled data-index="g2")
              span.span-error
            td
              .ui.form
                .field
                  input(type="text" data-name="col1-0" data-index="g3")
              span.span-error
            td
              .ui.form
                .field
                  input(type="number" data-name="col2-0" data-index="g4")
              span.span-error
            td 
              .ui.form
                .field
                  input(type="number" data-name="col3-0" data-index="g5")
              span.span-error
            td
              .ui.form
                .field
                  input(type="number" data-name="col4-0" data-index="g6")
              span.span-error
            td
              .ui.form
                .field
                  input(type="number" data-name="col5-0" data-index="g7")
              span.span-error
            td
              .ui.form
                .field
                  input(type="number" data-name="col6-0" data-index="g8")
              span.span-error
            td
              .ui.form
                .field
                  input(type="number" data-name="col7-0" data-index="g9")
              span.span-error
            td
              .ui.form
                .field
                  input(type="number" data-name="col8-0" data-index="g10")
              span.span-error
            td
              .ui.form
                .field
                  input.addrowclass(type="text" data-name="col9-0" onkeypress="addRowFunction1(event)" data-index="g11")
              span.span-error
            //- td 
              button#addreport.ui.button Qo'shish
      .btns
        button#reset.ui.red.button
          | Тозалаш
        button#addRow.ui.secondary.button
          | Қўшиш
        button#saveForm.ui.button
          | Сақлаш
    .desc-container
      .description
        | Эслатма. Регистратор томонидан тўлдирилган “Регистраторлик участкасининг турар жойлар ва бинолар рўйхати” жадвалидаги маълумотлар киритилади. Ушбу жадвал ҳоким ёрдамчиларининг маълумотлари ва бошқа манбалардан фойдаланган ҳолда тўлдирилмасин!
    script(src="/json/tumanlar.js")
    script(src="/json/qap.js")
    script(src="/json/mahalla.js")
    script(src="/js/main.js")
    script(src="/js/logic.js")

