::-webkit-scrollbar {
    width: 10px;
    -moz-width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #67aadc;
    -moz-background: #67aadc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #67aadc;
}


::-webkit-scrollbar {
    width: 10px;
    -moz-width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #67aadc;
    -moz-background: #67aadc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #67aadc;
}

.thin_scroll {
    scrollbar-width: 8px;
}

html {
    scrollbar-color: #67aadc transparent;
    scrollbar-width: 10px;
    /*scrollbar-width: thin;*/

}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #FBFCFE;
    font-weight: inherit;
    line-height: inherit;
}

.my-container {
    padding: 37px 26px 20px 34px;
    display: flex;
}

.my-wrapper {
    width: 1920px;
    margin: 0 auto;
}

.cf::after {
    content: '';
    display: block;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

#tblexportData th {
    border: 1px solid #cccccc;
}

#tblexportData td {
    border: 1px solid #cccccc;
    color: #FFFFFF;
}

form {
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, ul li {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

.left-menu {
    width: 350px;
    height: 1023px;
    z-index: 11;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 0 20px;
    box-shadow: #54efe24f 0 3px 6px;
}

.nav-menu {
    padding-left: 38px;
    min-height: 120px;
    display: flex;
    align-items: center;
    width: 100%;
}

.navs {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navs-item {
    width: 50%;
    height: 62px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px solid #CECECE;
    background-color: #fff;
    outline: none;
    font-size: 18px;
    font-family: 'HelveticaNeueCyr';
    color: #67aadc;
    text-align: center;
}

.navs-item:hover {
    text-decoration: none;
    color: #407C8F;
}

.navs-item:focus {
    outline: none;
}

.navs-item-left {
    border-radius: 20px 0 0 20px;
}

.navs-item-right {
    border-radius: 0 20px 20px 0;
}

.navs-item p {
    font-size: 18px;
    font-family: 'HelveticaNeueCyr';
    color: #407C8F;
}

.navs-item-active {
    border: none;
    background-color: #67aadc;
    color: #FFFFFF;
}

.left-menu-head {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-menu-head img {
    display: block;
}

.left-menu-head span {
    display: block;
    padding-top: 13px;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    font-family: 'Segoe UI';
}

.person {
    width: 298px;
    height: 73px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #CECECE;
    border-radius: 12px;
    cursor: pointer;
    transition: box-shadow .5s ease;
    background-color: #ffffff;

}

.person1 {
    background-color: #fff;
    width: 140px;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #CECECE;
    border-radius: 12px;
    top: 215px;
    right: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    z-index: 1000;
    color: #707070;
}

.person1 i {
    padding: 0 10px;
}

.person1 a {
    font-size: 18px;
    color: #707070;
}

.person1 ul li {
    padding: 6px 0;
    cursor: pointer;
    transition: all .6s ease;
}

.person1 ul li:hover {
    background-color: #f1f1f1;
}

.person1::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    transform: rotate(45deg);
    top: -8px;
    right: 20px;
    border-top: 1px solid #CECECE;
    border-left: 1px solid #CECECE;
}

.person:hover {
    box-shadow: #54efe24f 0 3px 6px;
}

.person-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.person-text {
    padding-left: 12px;
}

.person-text p {
    padding-bottom: 4px;
    color: #707070;
    font-size: 14px;
    font-family: 'Segoe UI';
    font-weight: 700;
}


.person-text span {
    color: #C2C2C2;
    font-size: 14px;
}

.person-iconc {
    position: absolute;
    right: 12px;
}

.person-img {
    width: 49px;
    height: 49px;
}

.news {
    padding: 10px;
    overflow: scroll;
    height: 500px
}

.newMessage {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -12px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #808080;
    background-color: #d9d9d9;
}

.newMessage::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #808080;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
}

.newMessage1 {
    background-color: #00ff004f;
    color: #00ff00;
}

.newMessage1::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #00ff00;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
}

.person-img img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.menu-ul {
    padding-top: 40px;
    width: 100%;
}

.hisobot-malumot, .menu-li a {
    transition: all .6s ease;
    display: inline-block;
    width: 100%;
    padding: 10px 10px 10px 25px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'HelveticaNeueCyr';
    text-decoration: none;
    border-bottom: 1px dotted white;
    border-bottom-width: 1px;
    background-color: #67aadc;
}

.list-group-item {
    border: none;
}

.hisobot-malumot {
    cursor: pointer;
    margin-top: 100px;
    text-transform: uppercase;
    display: none;
}

.hisobot-malumot:hover, .menu-li a:hover {
    /*color: #49D7CB;*/
    /*background-color: #ffffff;*/
    /*border-radius: 10px;*/
    padding-left: 10px;
    color: #ffffff;
    background: #73bce8;
}

.menu-li .menu-li-active {
    color: #49D7CB;
    background-color: #E1FFFC;
    border-radius: 10px;
}

.number {
    position: relative;
}

.numberDop {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 25px;
    height: 25px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #FE4848;
    padding: 5px;
    color: #FFFFFF;
}

.left-menu-footer {
    position: absolute;
    bottom: 10px;
    left: 25px;
    color: #B8B8B8;
    font-size: 14px;
    padding-left: 25px;
}

.left-menu-footer-top {
    padding-bottom: 12px;
}

.left-menu-footer-one {
    display: inline-block;
    padding-right: 43px;
}

.mainTable {
    padding: 0;
    margin-left: 38px;
    width: 1085px;

}

.mainTable .table-div {
    overflow-y: scroll;
    display: inline-block;
    width: 100%;
    border: 1px solid #E9E9E9;
    background-color: #FFFFFF;
}

.mainTable_ins .table-div {
    overflow-y: scroll;
    display: inline-block;
    width: 100%;
    border: 1px solid #E9E9E9;
    background-color: #E8EEFF;
}

.mainTable_ins tr td {
    border: 1px solid #c2cddd;
}

.mainTable_ins th {
    border: 1px solid #c2cddd
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-family: arial, sans-serif;
    scrollbar-width: thin;
}

.mainTable {
    padding: 0;
    margin-left: 38px;
    width: 95%;

}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-family: arial, sans-serif;
    scrollbar-width: auto !important;

}

.mydetail table {
    overflow: scroll;
    padding: 0;
    max-height: 821px;
    background-color: #FFFFFF;
    border: 1px solid #E9E9E9;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-right: 2px;
    border-collapse: separate;
    font-family: arial, sans-serif;
    /*scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;*/
    scrollbar-width: auto !important;
}

.mydetail table:active{
    scrollbar-width: 10px;
}

.mydetail {
    margin: 0;
}

.mydetail form {
    padding-left: 38px;
    text-align: center;
}

tr {
    height: 45px;
    font-size: 18px;
    border-bottom: 1px solid #E9E9E9;
    color: #000;
}

tr a{
    color: #37506b;
}

th {
    color: #000;
}

.right-menu {
    padding-top: 120px;
    padding-left: 30px;
}

.right-menu-box {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 20px;
    padding: 24px 20px 0 20px;
    background-color: #67aadc;
    border: 1px solid #e9e9e9;
    box-shadow: #67aadc 0 3px 6px;
}

.dropdown #dropdownMenu2{
    background-color: #fff;
}

.search-input {
    box-shadow: #54efe24f 0 3px 6px;
}

::placeholder {
    color: #CECECE;
    font-size: 18px;
}

.right-menu-box input {
    width: 100%;
    height: 48px;
    color: #CECECE;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #E9E9E9;
    outline: none;
    padding: 0 42px;
}

.input-icon-search {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/search-iconc.png);
    position: absolute;
    left: 36px;
    top: 40px;
    z-index: 12;
}

.form-group {
    margin-bottom: 0 !important;
}

.input-group {
    display: block;
}

label, .input-group span {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
    /*padding-left: 16px;*/
    font-family: 'HelveticaNeueCyr';
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 0;
}

.input-with-label {
    position: relative;
}

.btn-primary {
    color: #fff;
    background-color: #2a6ea0 !important;
    border-color: #67aadc !important;
}

.input-iconc {
    width: 20px;
    height: 20px;
    background: #FFFFFF url('../img/input-iconc.png') no-repeat center;
    border: 2px solid #54EFE2;
    border-radius: 4px;
    position: absolute;
    right: 20px;
    top: 67px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group_input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: '';
    -webkit-appearance: none;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid #49D7CB;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 25px;
    width: 6px;
    height: 14px;
    border: solid #49D7CB;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.input-group span {
    display: block;
    padding-bottom: 0;
}

.pagination-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pug {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid #49D7CB;
    background-color: #FFFFFF;
    margin: 0 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-pug a {
    color: #49D7CB;
    transition: all .5s ease;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
}

.btn-pug span {
    font-size: 18px;
}

.btn-pug:focus {
    outline: none;
}

.btn-pug:hover {
    background-color: #49D7CB;
}

.btn-pug:hover a {
    color: #FFFFFF;
}

.btn-pug-active {
    color: #FFFFFF;
    background-color: #49D7CB;
}

.btn-prev a, .btn-next a {
    width: 24px;
    height: 24px;
    color: transparent;
    border: none;
    outline: none;
    margin: 0 18px;
    cursor: pointer;
    margin: 0;
}

.btn-prev span, .btn-next span {
    width: 24px;
    height: 24px;
    color: transparent;
    border: none;
    outline: none;
    margin: 0 18px;
    cursor: pointer;
    background: transparent url(../img/iconc-prev.png) no-repeat center;
}

.btn-next a, .btn-next span {
    background: transparent url(../img/iconc-prev.png) no-repeat center;
    display: inline-block;
    width: 30px;
    transform: rotate(180deg);
    margin: 0;
}

.btn-next a:hover, .btn-next span:hover {
    background: transparent url(../img/iconc-next.png) no-repeat center;
    transform: inherit;
}

.btn-prev a, .btn-prev span {
    background: transparent url(../img/iconc-prev.png) no-repeat center;
    display: inline-block;
    width: 30px;
    margin: 0;
}

.btn-prev a:hover, .btn-prev span:hover {
    background: transparent url(../img/iconc-next.png) no-repeat center;
    transform: rotate(180deg)
}

.btn-next-active {
    background: transparent url(../img/iconc-next.png) no-repeat center;
    transform: inherit;
}

.btn-prev-active {
    background: transparent url(../img/iconc-next.png) no-repeat center;
    transform: rotate(180deg)
}

.pagination-bar {
    padding-top: 43px;
}

.input-end {
    padding-bottom: 63px;
}


.toggle {
    position: absolute;
    top: 0px;
    left: 30px;
    width: 16px;
    height: 16px;
    border: 1px solid #707070;
    background: #ffffff;;
    cursor: pointer;
    border-radius: 50%;
}

.min-toggle {
    left: 70px;
}

.max-toggle {
    left: 165px;
}

.price-controls input {
    width: 75px;
    height: 25px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    font-size: 16px;
    font-family: "Tahoma", sans-serif;
    text-align: center;
    color: #CECECE;
    border-radius: 5px;
    border: 1px solid #CECECE;
}

.go-to {
    font-size: 18px;
    color: #CECECE;
    display: inline-block;
    padding-left: 5px;
}

.range-filter {
    padding-top: 10px;
    width: 273px;
    margin: auto;
    margin-bottom: 10px;
}

.range-controls {
    position: relative;
    height: 18px;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.scale {
    margin-top: 6px;
    height: 5px;
    background: #d7dcde;
}

.bar {
    height: 5px;
    background: #54EFE2;
}


.select-dropdown {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 0 15px 0 0;
}

.select-dropdown:last-child {
    margin-right: 0px;
}

.select-dropdown__button {
    height: 48px;
    width: 306px;
    cursor: pointer;
    font-size: 18px;
    color: #9D9D9D;
    text-align: left;
    border-radius: 15px;
    background-color: #fff;
    padding: 10px 35px 10px 15px;
    border: 1px solid #E9E9E9;
}

.zmdi-chevron-down {
    position: absolute;
    right: 10px;
    top: 12px;
}

.select-dropdown__button:focus {
    outline: none;
}

.select-dropdown__list {
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    display: block;
    overflow: auto;
    max-height: 300px;
    position: absolute;
    border-radius: 15px;
    pointer-events: none;
    list-style-type: none;
    transform: scale(1, 0);
    border: 1px solid #E9E9E9;
    border-top: 0px solid transparent;
    transform-origin: top left;
    transition: all ease-in-out .3s;
    z-index: 2;
}

.select-dropdown__list.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1, 1);
}

.select-dropdown__list-item {
    display: block;
    list-style-type: none;
    padding: 10px 15px;
    background: #fff;
    border-top: 1px solid #e6e6e6;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    color: #616161;
    text-align: left;
    transition: all ease-in-out .3s;
}

.select-dropdown__list-item:hover {
    color: #fff;
    background-color: #49D7CB;
    transition: all ease-in-out .3s;
}

.border-bottom {
    border: none !important;
    font-weight: bold;
}

.left-effect-menu {
    display: none;
    z-index: 100;
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    left: 0;
    top: 150px;
    border-radius: 20px 0 0 20px;
    background: #54EFE2 url(../img/iconc-prev.png) no-repeat center;
    transform: rotate(180deg);
}

.left-effect-menu1 {
    display: none;
    z-index: 100;
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    left: 0;
    top: 100px;
    border-radius: 20px 0 0 20px;
    background: #54EFE2 url(../img/iconc-prev.png) no-repeat center;
    transform: rotate(180deg);
}

.closed-left-menu {
    display: inline-block;
    padding: 10px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all .6s ease;
}

.closed-left-menu:hover {
    box-shadow: #54efe24f 0 3px 6px;
    color: #54efe2;
}

.left-effect-menu-open {
    border-radius: 0 20px 20px 0;
    background: #54EFE2 url(../img/iconc-prev.png) no-repeat center;
    transform: inherit;
}

.secret-logo {
    display: none;
}

.effect-left-menu {
    animation-name: example;
    animation-duration: 2s;
}

@keyframes example {
    from {
        left: -1000px;
    }
    to {
        left: 20px;
    }
}


.effect-left-menu-down {
    animation-name: example1;
    animation-duration: 2s;
}


@keyframes example1 {
    from {
        left: 20px;
    }
    to {
        left: -1000px;
    }
}


.pagination {
    padding-top: 15px;
    align-items: center;
    justify-content: center;
}

h4.page-title {
    text-align: center;
    padding: 15px;
    font-size: 16px;
    display: block;
}

.form-type-menu {
    min-height: unset;
}

.dropdown-toggle {
    width: 306px;
    height: 48px;
    color: #CECECE;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #E9E9E9;
    outline: none;
    padding: 0 42px;
    text-align: left;
    box-shadow: #54efe24f 0 3px 6px;
}

.dropdown-toggle:focus {
    box-shadow: #54efe24f 0 3px 6px;
}

.form-submit {
    /*background-color: #54EFE2;*/
    /*border: 1px solid #54EFE2;*/
    margin-left: 60px;
}

.form-submit:hover {
    /*background-color: #54EFE2;*/
    /*border: 1px solid #54EFE2;*/
    box-shadow: #54efe24f 0 3px 6px;
}

.form-submit:active {
    /*background-color: #54EFE2 !important;*/
    /*border: 1px solid #54EFE2 !important;*/
    box-shadow: #54efe24f 0 3px 6px;
}

.form-submit:focus {
    /*background-color: #54EFE2 !important;*/
    /*border: 1px solid #54EFE2 !important;*/
    box-shadow: #54efe24f 0 3px 6px;
}

.form-to-excel {
    /*background-color: #54EFE2;*/
    /*border: 1px solid #54EFE2;*/
    margin-left: 60px;
}

.form-to-excel:hover {
    /*background-color: #54EFE2;*/
    /*border: 1px solid #54EFE2;*/
    box-shadow: #54efe24f 0 3px 6px;
}

.form-to-excel:active {
    /*background-color: #54EFE2 !important;*/
    /*border: 1px solid #54EFE2 !important;*/
    box-shadow: #54efe24f 0 3px 6px;
}

.form-to-excel:focus {
    /*background-color: #54EFE2 !important;*/
    /*border: 1px solid #54EFE2 !important;*/
    box-shadow: #54efe24f 0 3px 6px;
}

.dropdown-toggle::after {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 20px;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: 10px solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    color: #67aadc;
}

.dropdown-menu.show {
    width: 100%;
    box-shadow: #54efe24f 0 3px 6px;
}

.dropdown-item {
    padding: 10px;
}

.dropdown-item:hover {
    color: #49D7CB;
    background-color: #E1FFFC;
}

.dropdown-item:first-child {
    text-align: right;
}

.dropdown-item:first-child svg {
    font-size: 28px;
    color: #54EFE2;
    box-shadow: #54efe24f 0 3px 6px;
    border: 1px solid #54efe24f;
}

/*.form-save {*/
/*margin-left: 60px;*/
/*background-color: #22dd73 !important;*/
/*border-color: #54EFE2 !important;*/
/*}*/

.assign-me-btn {
    background-color: #67aadc !important;
    border-color: #67aadc !important;
}

tbody a {
    /*color: #67aadc;*/
    font-weight: bold;
}

tbody a:hover {
    color: #407C8F;
    font-weight: bold;
    text-decoration: none;
}

tbody tr:last-child {
    border-bottom: none;
}

thead {
    border: 1px solid #fbfbfc;
}

thead td {
    border: 1px solid #fbfbfc;
}

.main {
    overflow: scroll;
}

.dbPerson {
    display: block;
}

.dnPerson {
    display: none;
}

.border-table {
    padding: 35px;
    border: 1px solid #CECECE;
    border-radius: 25px;
    margin-bottom: 20px;
    display: inline-block;
    max-width: 100%;
}


.form-padding {
    padding: 0 30px !important;
}

.table-width100 {
    width: 100% !important;
}

.inlineBlockNone {
    display: inline-block !important;
}

.table .form-control {
    border-color: #67aadc !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #54efe25c;
}

.nav-tabs .nav-link {
    color: #407C8F;
    transition: all .6s ease;
}

.nav-tabs .nav-link:hover {
    color: #49D7CB;
}

.excel {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.excel button {
    color: green;
    border: none;
    background-color: transparent;
}

.excel button:focus {
    outline: none;
}

.excel1 {
    padding-top: 15px;
    width: 600px;
}

.excel1 button {
    color: green;
    border: none;
    background-color: transparent;
    padding: 0 10px;
}

.excel1 button:focus {
    outline: none;
}

.language {
    position: absolute;
    right: 80px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.language button {
    display: inline-block;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    padding: 6px 2px;
    font-weight: 500;
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
}

.language button:hover {
    color: #54EFE2;
    border-bottom: 2px solid #54EFE2;
}

.language .language-active {
    border-bottom: 2px solid #54EFE2;
}

.dib {
    display: inline-block;
}

.mainTableFlex {
    width: initial;
    margin-left: 0;
}

#wrapper {
    width: 100%;
}

.mydetail {
    width: 100% !important;
}

/* /////////////// */

@media only screen and (max-width: 1920px) {
    .my-wrapper {
        width: 100%;
    }

    body {
        width: 100%;
    }
}

@media only screen and (max-width: 1870px) {
    .right-menu {
        display: none;
    }

    .hisobot-malumot {
        display: block;
    }

    .dbi {
        display: inline-block;
        position: absolute;
        top: 140px;
        left: 34px;
        background-color: #FFFFFF;
        padding: 0;
        z-index: 12;
        border-radius: 20px;
    }

    .hisobot-malumot {
        margin-top: 85px;
    }
}

@media only screen and (max-width: 1750px) {
    .nav-menu {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 1550px) {
    .mydetail form {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 1500px) {
    .my-container {
        padding: 15px;
    }
}

@media only screen and (max-width: 1400px) {
    .dib {
        display: none;
    }

    .inlineBlockNone {
        display: none !important;
    }

    .closed-left-menu {
        display: none;
    }

    .left-menu {
        border: 1px solid #E9E9E9;
        box-shadow: #0000004f 0 3px 6px;
        position: absolute;
        left: -1000px;
    }

    .my-wrapper {
        display: block !important;
    }

    .nav-menu {
        padding-left: 0;
        justify-content: space-around;
    }

    .mainTable {
        margin: 0;
    }

    .dbn {
        display: none;
    }

    .main {
        margin: 0 auto;
    }

    .my-container {
        padding: 20px;
        padding-bottom: 60px;
    }

    .nav-menu {
        min-height: 100px;
        width: 100%;
    }

    .left-effect-menu {
        display: inline-block;
    }

    .secret-logo {
        display: inline-block;
    }

    .mainTable {
        width: 100%;
    }

    .wrapper {
        width: 100%;
    }

    .main {
        width: 100%;
        padding: 0;
    }

    .mydetail form {
        padding: 0;
    }

    #page-content-wrapper {
        width: 100%;
        padding: 0;
    }

    #main {
        width: 100%;
    }

    .mydetail table {
        margin: 0;
        padding: 0;
    }
}

td.deadline {
    width: 40%;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

table.dataTable tbody tr:nth-of-type(odd) {
    padding: 2px 5px;
    background-color: #54EFE2;
}

table#DataTables_Table_0 {
    border-collapse: collapse;
}

/*.table-striped > tbody > tr:nth-child(odd) > td,*/
/*.table-striped > tbody > tr:nth-child(odd) > th {*/
    /*background-color: #54EFE2;*/
/*}*/

table.table.table-striped td {
    color: #fff;
}

.header-select-organizatsia {
    height: 50px;
    background-color: #67aadc;
    color: #ffffff;
    padding-top: 5px;
}

.body-selects {
    padding: 15px;
}

.select-card {
    box-shadow: #EEEEEE 2px 2px 5px;
    transition: all .6s ease;
}

.select-card a:hover {
    text-decoration: none;
}

.organizations_title {
    font-size: 20px;
    text-align: center;
    padding: 6px 0;
}

.select-card:hover {
    box-shadow: #e9e9e961 7px 11px 13px 10px
}


.language_org {
    position: absolute;
    right: 80px;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}

.language_org a {
    color: white;
}


.language_org button {
    display: inline-block;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    padding: 6px 2px;
    font-weight: 500;
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
}


.language_org button:hover {
    color: #54EFE2;
    border-bottom: 2px solid #54EFE2;
}

.language_org .language-active {
    border-bottom: 2px solid #54EFE2;
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: #67aadc !important;
}

.table-div tbody tr:nth-of-type(odd){
    background-color: #67aadc !important;
    color: #FFFFFF;
}

.table-div tbody tr:nth-of-type(even){
    background-color: #3da6f473 !important;
    color: #FFFFFF;
}


