tbody {
  display: block;
  max-height: calc(100vh - 180px);
  overflow: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead th,
tbody td {
  text-overflow: ellipsis;
  overflow: hidden;
}

thead {
  width: 100%;
}

.form-p{
    padding: 20px;
}